.catalogItem {
  width: 888px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  gap: 24px;
}
.thumb {
  border-radius: 10px;
  overflow: hidden;
  width: 290px;
  height: 310px;
}
.thumb img {
  height: 100%;
  object-fit: cover;
}
.itemWrapper {
  width: 526px;
}
.itemTitle{
    font-weight: 600;
font-size: 24px;
line-height: 1.25;

}
.titleWrapper{
display: flex;
justify-content: space-between;
align-items: center;
}
.priceWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.price{
    font-weight: 600;
font-size: 24px;
line-height: 1.25;
}
.heart{
fill: #ffffff;
stroke: black;
}
.ratingWrapper{
    display: flex;
    gap: 16px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
}
.star{
    fill:#ffc531 ;
}
.rating{
    text-decoration: underline;
    
}
.map{
    stroke:#101828;
    stroke-width:1.3;
    fill:#ffffff;
    
}
.description{
        -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 24px;
    color: #475467;
}