.featuresEl {
  width: 430px;
}
.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-family: "Inter", sans-serif;
}
.tableHeader {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  text-align: left;
  padding-bottom: 24px;
}
.tableHeaderRow {
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}
.table > tbody {
  padding-top: 24px;
}

.table > tbody > tr > td {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  color: #101828;
  padding-top: 14px;
}
.table .firstElTable {
  padding-top: 24px;
}
.table td {
  text-align: left;
}

.table td:nth-child(2) {
  text-align: right;
}
